:root {
    --lumo-primary-color: #90caf9;
    --lumo-base-color: #d3cdcd;
    --lumo-body-text-color: #080000;
}


.vaadin-horizontal-layout {
    background-color:rgb(147 139 139) ;
}

.fancy-nav {
    background-color: #080000;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 6px;
    font-weight: 600;
    color: #00796b;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.fancy-nav:hover {
    background-color: #b2dfdb;
    color: black;
    cursor: pointer;
}

